{% extends 'base.html' %}
{% load static %}
{% block title %}
{{item.name}}
{% endblock %}
{% block content %}
<div class="max-w-6xl mx-auto px-4 py-6 bg-gray-500 rounded-xl my-6">
    <div class="grid md:grid-cols-5 grid-cols-1 place-content-center justify-center gap-6">
        <div class="col-span-3">
              <img src="{{item.image.url}}" alt="" class="rounded-xl object-cover object-center w-full">
        </div>
        <div class="col-span-2 p-6 bg-gray-100 rounded-xl mx-auto">
            <h1 class="mb-6 text-4xl font-semibold text-teal-700 uppercase">{{item.name}}</h1>
            <p class="  "><strong class="text-xl text-gray-800">Price:</strong> $<span class="font-medium text-lg text-green-500">{{item.price}}</span></p>
            <p class="text-gray-700">
                <strong class="text-xl text-gray-800 ">Description:</strong>
                {{item.description|linebreaks}}
            </p>
         <div class="my-6">
            {% if request.user.is_authenticated and request.user == item.seller %}
            <div class="">
                <a href="{% url 'market:updateItem' item.pk %}" class="px-4 py-2 rounded-full bg-blue-500 hover:bg-blue-700 hover:ring-2 hover:ring-white text-white text-lg">update</a>
                <a href="{% url 'market:deleteItem' item.pk %}" class="px-4 py-2 rounded-full bg-rose-500 hover:bg-rose-700 hover:ring-2 hover:ring-white text-white text-lg">delete</a>

            </div>
            {% else %}
            <a href="{% url 'conversation:new'  item.id %}" class="inline-flex items-center justify-center mt-6 px-6 py-3 text-lg w-full text-white rounded-xl font-semibold bg-teal-500 hover:bg-teal-700">Contact seller</a>
            {% endif %}
         </div>
        </div>
    </div>
</div>

<div class="my-4 bg-gray-200 p-6 rounded-xl max-w-6xl mx-auto">
    {% if related_items %}
    <h2 class="text-4xl text-gray-800 font-semibold text-center mb-2">Related Items</h2>
    <div class="grid md:grid-cols-3 grid-cols-1 place-content-center  gap-3">
        {% for item in related_items %}
        <div class="">

            <a href="{{item.get_absolute_url}}" class="">
                <div class="">
                    <img src="{{item.image.url}}" alt="" class="rounded-t-xl object-cover object-center w-full">
                </div>
                <div class="p-6 bg-white rounded-b-xl">
                    <h2 class="text-2xl">{{item.name}}</h2>
    
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
   
    {% endif %}
</div>
{% endblock %}