{% extends 'base.html' %}
{% block title%}
Home
{% endblock %}
{% block content %}
<div class="conatiner mx-auto">
    {% load static %}
    <section class="px-6 relative text-white"id="hero">
       <img src="{% static 'image/bg.jfif' %}" alt="" class="h-96 object-cover object-center w-full">
       <div class="absolute top-0 right-5 left-5  bg-black bg-opacity-60 h-full">
        <div class="absolute top-10 left-2 w-full">
            <h2 class="uppercase text-center md:text-8xl text-6xl font-extrabold mb-4">Always be Original</h2>
            <p class="uppercase  text-center font-bold text-2xl mb-4">New arrivals are here</p>
           <div class="flex items-center justify-center">
              <button class="border-2  border-white px-6 py-3 hover:bg-teal-500 hover:text-whitefont-semibold hover:border-0">Shop Now</button>
           </div>
     </div>
       </div>
    </section>
    <div class="px-6 py-">
        <div class="mt-6 ">
            <h2 class="mb-12 text-2xl md:text-6xl bg-clip-text text-transparent bg-gradient-to-tr from-teal-800 to-cyan-200 text-center font-bold">Limited Edition Collection</h2>
            <div class="grid md:grid-cols-3 grid-cols-1 gap-4">
                {% for item in items %}
                <div class="shadow-2xl">
                    <a href="{{item.get_absolute_url}}" class="">
                        <div class="">
                            <img src="{{item.image.url}}" alt="" class="rounded-t-xl w-full h-80 object-center">
                        </div>
                        <div class="p-6 bg-white rounded-b-2xl">
                            <h2 class="text-2xl font-semibold text-teal-500">{{item.name}}</h2>
                          
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="px-6 py-6">
        <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
            <h2 class="mb-12 text-3xl font-bold text-center">Categories</h2>
            <div class="grid md:grid-cols-3 grid-cols-1 gap-3">
                {% for category in categories %}
                <div class="bg-white p-6 rounded-xl">
                <a href="" class="">
                    <div class="">
                        <h2 class="text-2xl text-center mb-2 transition hover:ease-in hover:delay-150 hover:duration-300 hover:text-blue-500">{{category.name}}</h2>
                        <p class="text-xl text-center transition hover:ease-in hover:delay-150 hover:duration-300 hover:text-blue-500">{{category.categories.count}}</p>
                    </div>
                </a>            
                 </div>
                {% endfor %}
            </div>
        </div>
</div>

<script>
      
</script>

{% endblock %}