{% extends 'base.html' %}
{% block title %}
Login
{% endblock %}
{% block content %}
<div class="container max-auto">
   
    <div class="max-w-5xl  mx-auto rounded-xl bg-white shadow-2xl  my-10">
        {% load  static %}
       <div class="grid md:grid-cols-5 grid-col-1 place-content-center gap-4">
        <div class="md:col-span-3 relative">
            <img src="{% static 'image/login.jfif' %}" alt="" class="rounded-xl object-center">
            <div class="bg-black absolute h-full bg-opacity-60 top-0 md:rounded-tl-xl md:rounded-bl-xl right-0 left-0">
                <div class="absolute top-20 right-4 left-4">
                    <p class="md:text-8xl mb-2 text-6xl capitalize   text-white font-semibold ">Hats Off to Your Personality.</p>
                    <p class="text-cyan-500 font-semibold md:text-4xl text-2xl text-center">Snap Into Fashion</p>
                </div>
            </div>
        </div>
        
       <div class="md:col-span-2 mx-4 my-4 relative">
        <form action="{% url 'users:login' %}" method="post">
            <h2 class="text-6xl  text-gray-800  font-mono font-semibold md:text-start text-center">Login</h2>
            <hr class="border-3  border-gray-400 rounded md:w-32 w-1/2 mx-auto md:mx-0 my-2">
            {% for field in form %}
            <div class="mb-2">
                <label for="" class="text-xl font-medium">{{field.label_tag}}</label></div>
             {{field}}
             {% endfor %}
             {% csrf_token %}
             <input type="submit" value="Log in" class="px-6 py-4 mt-4 md:w-1/2 w-full  rounded-xl block bg-teal-500 hover:bg-teal-700 text-white text-lg">
        </form>
        <section class="my-20 md:my-0 h-full">
            <div class="my-6 relative w-full">
                <hr class="absolute  md:w-36 w-32 rounded-xl border-2 border-gray-500"><hr class="absolute right-2    w-36 border-2 rounded-xl border-gray-500">
                <div class="w-full absolute bottom-0 -top-4 left-40 ">
                  <span class="text-4xl font-semibold">OR</span>
                  <div class="space-x-4 mt-4 -mx-12">
                     
                          <a href="" class="h-10 w-10 rounded-full border-2 text-center p-2 bg-gray-100"><i class="fa-brands fa-facebook text-blue-500  rounded-full"></i></a>
                      <a href="" class="h-10 w-10 rounded-full border-2 text-center p-2 bg-gray-100"><i class="fa-brands fa-twitter text-blue-700"></i></a>
                      <a href="" class="h-10 w-10 rounded-full border-2 text-center p-2 bg-gray-100"><i class="fa-brands fa-google-plus text-red-400"></i></a>
                  </div>
                  
                </div>
              </div>
              <div class="my-6 absolute md:bottom-32  bottom-20">
                  <p class="md:text-xl text-md">Don't have an account ? <span class="text-blue-500 underline"><a href="{% url 'users:register' %}">Sign Up</a></span></p>
              </div>
        </section>
       </div>
       </div>
    </div>
</div>
{% endblock %}